    #dropZone,
    #animals {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        min-height: 200px;
        margin-bottom: 20px;
    }
    
    #dropBox1 {
        height: 300px;
        width: 500px;
        border: 10px solid rgb(243, 87, 113);
        border-radius: 20px;
    }
    
    #dropBox2 {
        height: 300px;
        width: 500px;
        border: 10px solid rgb(170, 230, 75);
        border-radius: 20px;
    }
    
    h1 {
        padding: 20px;
        margin-left: 14%;
        color: rgb(99, 9, 120);
        font-size: 50px;
    }
    
    #fruits {
        margin-left: 14%;
        padding: 60px;
    }
    
    .boxes {
        display: flex;
        justify-content: space-evenly;
    }
    
    .dragon {
        color: rgb(240, 71, 99);
        font-weight: bolder;
        margin-left: 17%;
        font-size: 40px;
    }
    
    .kiwi {
        color: rgb(150, 240, 60);
        font-size: 40px;
        font-weight: bolder;
        margin-left: 35%;
    }
    
    body {
        background: linear-gradient(to right top, rgb(126, 230, 22), rgb(250, 120, 142));
    }
    
    @media all and (min-width: 320px) and (max-width: 780px) {
        .boxes {
            padding-left: 5%;
            display: flex;
            flex-direction: column;
        }
        h1 {
            margin-left: 5%;
        }
        #fruits {
            margin-left: 5%;
        }
    }